.main{
  display: flex;
  font-family: "Calibri"
}

.first{
  width: 50%;
  font-weight: bold;
}

.second{
  width: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  font-size: 24px;
}

#field{
  margin: 0 auto ;
}

td{
  font-size: 26px;
  width: 180px;
  height: 200px;
  text-align: center;
}

h1{
  color: black;
  font-family: "Calibri";
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0px;
}

p{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

button{
  background-color: #2B2B2B;
  font-size: 24px;
  font-weight: bold;
  font-family: "Calibri";
  color: #ECECEC;
  border: 2px solid #686e6e;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block
}

button:hover{
  background-color:#5c5b5b;
}

img{
  height: 200px;
  width: 150px;
  cursor: pointer;
}

.blue{
  color: blue;
}

.red{
  color: red;
}

.bol{
  font-weight: bold;
  font-size: 26px;
}


